body {
  background-image: url("/assets/good-waves.gif"); /* Direct GIF URL */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

#main {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

input[type='text'] {
  width: 40%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 2px;
  border: 1px solid #ccc;
}

input[type='submit'] {
  width: 10%;
  padding: 0.5rem;
  font-size: 1.0rem;
  border-radius: 2px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
