body {
    margin: 0;
    width: 100%;
}

span {
    display: inline-block;
}

.search {
    width: 5%;
    display: inline;
    border-left: none;
    padding: 3px;
    font-size: 15px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

#input {
    padding: 3px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 40%;
}

form::after {
    content: "";
    clear: both;
    display: table;
}

img {
    width: 30%;
    height: 270px;
    display: inline;
}

p {
    border: 2px solid white;
    width: 30%;
    padding: 4px;
    font-family: monospace;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    bottom: 20px;
    box-shadow: 2px 2px 5px black;
}

div {
    transition: ease-out .3s;
    width: 80%;
}

div:hover {
    cursor: pointer;
    transform: scale(1.01);
}

nav {
    width: 500px;
    left: 500px;
    position: relative;
}

form {
    position: relative;
    left: 25%;
    margin: 10px;
}
</style>